@using NPD.ViewModel
@model FaultDTO
@{
    ViewBag.Title = "Add";
}
<h3>
    Add New Job
</h3>

<div class="panel panel-default">
    <div class="panel-body">
        @using (Html.BeginForm("Add", "Job", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
        {
            <div class="form-group">
                <div class="col-sm-12">
                    @if (ViewBag.IsError != null)
                {
                    if (ViewBag.IsError == false)
                    {
                            <div class="alert alert-success">
                                <b>Success&nbsp;:&nbsp;</b>@ViewBag.Message
                            </div>
                        }
                        else
                        {
                            <div class="alert alert-danger">
                                <b>Error&nbsp;:&nbsp;</b>@ViewBag.Message
                            </div>
                        }
                    }
                </div>
            </div>
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2 control-label">* Company</label>
                    <div class="col-sm-10">
                        @Html.DropDownListFor(x => x.CompanyId, new SelectList(ViewBag.Companies, "Id", "Name", Model.CompanyId), "--Select--", new { @id = "ddlCompany", @class = "form-control" })
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2 control-label">* Location</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(x => x.Location, new { @id = "txtLocation", @class = "form-control" })
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Machine Description</label>
                    <div class="col-sm-10">
                        <div class="panel">
                            <div class="panel-body">
                                @Html.TextAreaFor(x => x.MachineDescription, new { @id = "txtMachineDescription", rows = "3", @class = "form-control note-editor" })
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Fault Description</label>
                    <div class="col-sm-10">
                        <div class="panel">
                            <div class="panel-body">
                                @Html.TextAreaFor(x => x.FaultDescription, new { @id = "txtFaultDescription", rows = "3", @class = "form-control note-editor" })
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Priority</label>
                    <div class="col-sm-10">
                        @Html.DropDownListFor(x => x.Priority, new SelectList(ViewBag.Priorities, "Id", "Name", Model.Priority), "--Select--", new { @id = "ddlPriority", @class = "form-control" })
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Complexity</label>
                    <div class="col-sm-10">
                        @Html.DropDownListFor(x => x.Complexity, new SelectList(ViewBag.Complexities, "Id", "Name", Model.Complexity), "--Select--", new { @id = "ddlComplexity", @class = "form-control" })
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Assigned To</label>
                    <div class="col-sm-10">
                        @Html.DropDownListFor(x => x.AssignedTo, new SelectList(ViewBag.Enigineers, "Id", "Name", Model.AssignedTo), "--Select--", new { @id = "ddlAssignedTo", @class = "form-control" })
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Upload Files</label>
                    <div class="col-sm-10">
                        <input type="file" class = "form-control" name="postedfile" id="flpUpload" />
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-4"></label>
                    <div class="col-sm-8">
                        <input type="submit" class="btn btn-primary" value="Save Details" />
                    </div>
                </div>
            </fieldset>
        }
    </div>
</div>